<%# http://localhost:3000/products/1/edit %>

<%= form_with(model: product, local: true) do |f| %>
	<% if product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
				<% product.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	
	<!-- PRODUCT TABLE -->
	<div class="field" id="new_product_form">
		<%= f.label :name %><br>
		<%= f.text_field :name, id: :product_name %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description, id: :product_description %>
	</div>		
	<div class="field">
		<%= f.label :image_url %>
		<%= f.text_field :image_url, id: :product_image_url %>
	</div>
	<div class="field">
		<%= f.label :colour %><br>
		<%= f.text_field :colour %>
	</div>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>   

<%# http://localhost:3000/products/1/edit %>
