<!--shows a listing of all products. This page is conected to the product controller-->

<p id="notice"><%= notice %></p>


<h1 class="product_index_title">Products</h1>

<br>

<div class="container-fluid" id="all_products">
	<div class="row">
		<% @products.each do |product| %>
			<div class="col-sm-2 col-md-4">
				<a href="#"><h2><%= product.name %></h2></a>
			    <p><%= product.description %></p>
				<p><%= product.color %></p>
				<%= image_tag(product.image_url, class: "img-responsive") %>
				<strong>£ 42</strong>
				
				<%= link_to 'Show', product %>
				<%= link_to 'Edit', edit_product_path(product) %>
				<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div><!-- ./col -->
		<% end %>
	</div><!-- /. row -->
</div><!--/. container-fluid -->

<%= link_to 'New Product', new_product_path, id: "new_product_button" %>
